
// Smartphone Screen
@media screen and (max-width: 580px) {
	.hide-on-small {
		display: none;
	}

	#showcase {
		height: 50vh;

		.container {
			margin-top: 15	vh;
		}

		h1 {
			font-size: 3rem;
		}

		h2 {
			font-size: 1.5rem;
		}
	}

 	 nav {
		height: auto;
		border-bottom: 0;
	
		ul {
		  	display: none;
		 	height: auto;
	  	}	
	
	  	li {
		  width: 100%;
		  float: left;
		  position: relative;
    	}

  		a {
	  		text-align: left;
	  		width: 100%;
	  		text-indent: 25px;
			background: $menu-bg;	 
      		border-bottom: 1px solid $menu-border;
  		}  	
	
  	 	a:hover {
	  		background: $menu-hover;
  		}

	  	a#openup:after {
			content:"|||";
      		transform:rotate(-90deg);
      		-ms-transform:rotate(-90deg); /* IE 9 */
      		-webkit-transform:rotate(-90deg); /* Safari and Chrome */
		  	width: 30px;
		  	height: 30px;
		  	display: inline-block;
		  	position: absolute;
		  	right: 5px;
		  	top: 20px;
	  	}
  	  		
	  	a#openup {
		  	display: block;
		  	background-color: $menu-bg;
		  	width: 100%;
		  	position: relative;
	  	}
  } 
} 

.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */

// Tablet Screen
@media screen and (max-width: 780px) {
	.gift-cards {
		grid-template-columns: 1fr;
	}

	footer {
		.footer-cols {
			display: none;
		}
	}
}

// Height > Width Screen
@media screen and (max-height: 580px) {
	#showcase p.lead {
		display: none;
	}
}